<%= render 'public/nav' %>
  
  <div class="container mt-5">
    
    <h2>ハッシュタグ #<%= @tag.name %></h2>
    
      <% @posts.each do |post| %>
        <%= link_to (image_tag post.get_image("500x300")), post_path(post.id) %>
        <p>
          <% if post.favorited_by?(current_user) %>
            <!--favorited_byメソッドはpost_headerモデルで定義している-->
            <%= link_to post_favorites_path(post), method: :delete do %>
              <span style="color: red;">♥<%= post.favorites.count %></span>
            <% end %>
          <% else %>
            <%= link_to post_favorites_path(post), method: :post do %>
              ♡<%= post.favorites.count %>
            <% end %>
          <% end %>
        </p>

        <% post.post_details.each do |detail| %>
          <p><%= detail.category.type.name %>・・・・・<%= detail.category.category_name %>  <%= detail.size %></p>
        <% end %>                                                                           <!--ここのsizeはカラムのsize-->

        <% post.hash_tags.each do |hash_tag| %>
          <p>
          <%= post.comment.gsub(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/,"") %>
          <%= link_to "##{hash_tag.name}", hashtag_path(hash_tag.id) %>
          </p>
        <% end %>

        <%= link_to user_path(post.user_id) do %>
          <p><%= image_tag post.user.get_profile_image("80x80") %> <%= post.user.user_name %></p>
        <% end %>
        <p>投稿日:    <%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
      <% end %>
</div>