
<%= render 'public/nav' %>
<div class="container mt-5">
  <h1>投稿一覧</h1>

  <%= form_with model: @posts, url: {controller: 'public/posts', action: 'index' }, method: :get do  |f| %>
    <div>
      <%= f.label :comment, "キーワード" %>
      <%= f.search_field :comment %>
    </div>
    <div>
      <%= f.label :category, "カテゴリー一覧" %>
      <%= f.fields_for :category do |category| %>
        <%= category.collection_select :category_id, Category.all, :id, :category_name, { prompt: "--選択してください--" }  %>
        <%#= type.collection_select :category_id, @tops, :id, :category_name, { prompt: "--選択してください--" }  %>
        <%#= f.collection_select :保存先のカラム名, テーブル（モデル）名.all, :実際にDBに保存させるカラム名, :選択肢に用いるカラム名, include_blank: "選択して下さい" %>
      <% end %>
    </div>
    <%= f.submit "検索" %>
  <% end %>

      <% @posts.each do |post| %>
        <%= link_to (image_tag post.get_image("500x300")), post_path(post.id) %>
        <p>
          <% if post.favorited_by?(current_user) %>
            <!--favorited_byメソッドはpost_headerモデルで定義している-->
            <%= link_to post_favorites_path(post), method: :delete do %>
              <span style="color: red;">♥<%= post.favorites.count %></span>
            <% end %>
          <% else %>
            <%= link_to post_favorites_path(post), method: :post do %>
              ♡<%= post.favorites.count %>
            <% end %>
          <% end %>
        </p>

        <% post.post_details.each do |detail| %>
          <p><%= detail.category.type.name %>・・・・・<%= detail.category.category_name %>  <%= detail.size %></p>
        <% end %>                                                                           <!--ここのsizeはカラムのsize-->

        <%# post.hash_tags.each do |hash_tag| %>
          <!--<p>-->
          <%#= post.comment.gsub(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/,"") %>
          <%#= link_to "##{hash_tag.name}", hashtag_path(hash_tag.id) %>
          <!--</p>-->
        <%# end %>

        <p>
          <%= render_with_hashtags(post.comment) %>
        <p>

        <%= link_to user_path(post.user_id) do %>
          <p><%= image_tag post.user.get_profile_image("80x80") %> <%= post.user.user_name %></p>
        <% end %>
        <p>投稿日:    <%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
      <% end %>

      <!--失敗したコード-->

      <!--<%#= post.post_details.size %>-->
      <!--ここのsizeはrubyが持っているメソッドで配列の個数を数えてくれる-->

      <!--<h4>トップス</h4>-->
      <!--<h4>ジャケット/アウター</h4>-->
      <!--<%#= post.post_details.size %>-->
      <!--<h4>パンツ</h4>-->
      <!--<%#= post.post_details.size %>-->
      <!--<h4>シューズ</h4>-->
      <!--<%#= post.post_details.size %>-->
      <!--<p><%#= post.comment %></p>-->
      <%#= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>
</div>




<!--3回層以上だとransackは向いていないため-->
<!--<PostHeader id: 1, user_id: 2, comment: "#秋服コーデ\r\n#服好きと繋がりたい\r\n初投稿です", created_at: "2022-09-16 22:17:48.751003000 +0900", updated_at: "2022-09-16 22:17:48.867854000 +0900">-->



