<%= render 'public/nav' %>
<div class="container mt-5">
        <h2>投稿詳細画面</h2>

        <%= image_tag @post.get_image, size: "500x300" %>



        <% @post.post_details.each do |post_detail| %>
         <!--<着用アイテムのカテゴリー名とサイズ>-->
        <h4><%= post_detail.category.category_name %></h4>
        <h4><%= post_detail.size %> サイズ</h4>
        <% end %>

        <%= @post.comment %>


        <%= image_tag @post.user.get_profile_image("200x160") %>
        <%= @post.user.user_name%>



      <div>
        <p>コメント件数：<%= @post.post_comments.count %></p>
        <% @post.post_comments.each do |post_comment| %>
          <p><%= image_tag post_comment.user.get_profile_image("100x100") %></p>
          <%= post_comment.user.user_name %>
          <%= post_comment.comment %>
          <p><%= post_comment.created_at.strftime("%Y-%m-%d %H:%M") %></p>

          <% if post_comment.user == current_user %>
            <%= link_to "削除", post_post_comment_path(post_comment.post_header, post_comment), method: :delete %>
          <% end %>



        <% end %>
      </div>

      <div>
        <%= form_with model: [@post, @post_comment], url: post_post_comments_path(@post.id), method: :post do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
</div>