<header>
     <nav class="navbar navbar-expand-md navbar-light border-bottom">
        <div class="container">
          <button class="btn btn-outline-secondary" type="button"><%= link_to "fukufuku", admin_root_path, class: 'nav-link text-dark'  %></button>
          <% if admin_signed_in? %>
            <div class="navbar-collapse collapse" id="navbarNavDropdown" style>
              <ul class="navbar-nav ml-auto">
                <li class="mr-3">
                  <button class="btn btn-outline-secondary" type="button"><%= link_to 'カテゴリー一覧',  admin_categories_path, class: 'nav-link text-dark' %></button>
                </li>
                <li class="mr-3">
                  <button class="btn btn-outline-secondary" type="button"><%= link_to 'ユーザーリスト',  admin_users_path, class: 'nav-link text-dark' %></button>
                </li>
                <li class="mr-3">
                  <button class="btn btn-outline-secondary" type="button"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %></button>
                </li>
              </ul>
            </div>
          <% else %>
            <div class="navbar navbar-expand-lg navbar-light">
              <div class="container">
                <div class="navbar-collapse collapse" id="navbarNavDropdown" style>
                  <ul class="navbar-nav ml-auto">
                    <li class="mr-3">
                      <button class="btn btn-outline-secondary" type="button"><%= link_to 'ログイン', admin_session_path, class: 'nav-link text-dark'  %></button>
                    </li>
                    <li class="mr-3">
                      <button class="btn btn-outline-secondary" type="button"><%= link_to 'ユーザーログイン画面へ', new_user_session_path, class: 'nav-link text-dark'  %></button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </nav>
    </header>