<%= render 'admin/nav' %>
<div class="container mt-5">

    <h3>登録ユーザー一覧</h3>



    <table class="table mt-5">
      <thead>
        <tr class="item">
          <th scope="col">ユーザーID</th>
          <th scope="col">ユーザー名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">身長</th>
          <th scope="col">性別</th>
          <th scope="col">アカウント状態</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.user_name, admin_user_path(user.id) %></td>
          <td><%= user.email %></td>
          <td><%=user.height %> cm</td>
          <td><%=user.sex %></td>
          <td>
          <% if user.is_deleted %>
              <%= '削除済み' %>
          <% else %>
            <p class="text-success">
              <%= '登録中' %>
            </p>
          <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>


