<%= render 'admin/nav' %>

 <div class="container">
    <div class="text-center">
      <div class="row">
        <div class="col mt-5 text-align-center">
          <h2><%= @user.user_name %> さんのプロフィール</h2>
        </div>
      </div>
      <div class="row">
        <table class="table mt-3">
          <tbody>
            <tr>
              <th scope="row">ユーザーID</th>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <th scope="row">氏名</th>
              <td>
                <%= @user.user_name %>
              </td>
            </tr>
            <tr>
              <th scope="row">メールアドレス</th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th scope="row">身長</th>
              <td><%= @user.height %>cm</td>
            </tr>
            <tr>
              <th scope="row">性別</th>
              <td><%= @user.sex %></td>
            </tr>
            <tr>
              <th scope="row">会員ステータス</th>
              <td>
                <% if @user.is_deleted %>
                  <%= '削除済み' %>
                <% else %>
                  <p class="text-success">
                  <%= '登録中' %>
                  </p>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-12 mt-3">
          <%= link_to '編集する', edit_admin_user_path(@user.id), class: 'btn btn-success mr-3' %>
        </div>
      </div>
    </div>
  </div>