<%= render 'public/nav' %>
  <% if @user.errors.any? %>
    <div class="text-center mt-5" style="color: red">
      <%= @user.errors.count %>件のエラーが発生しました
    </div>
    <ul style="color: red">
      <% @user.errors.full_messages.each do |message| %>
        <li>※<%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="container mt-5">
    <h3 class="text-center">マイページ編集</h3>
    <%= form_with model: @user, url: user_path(@user.id) do |f| %>
      <div class="mt-4 mb-3 text-center">
       <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
       <!--file_fieldは画像を選択する-->
      </div>
      <div class="mb-4 text-center">
        <%= image_tag @user.get_profile_image("250x100") %>
       <!--image_tagは予め登録されている画像を表示する-->
      </div>
      <div class="text-center">
        <%= f.label :user_name, "ユーザー名" %>&emsp;
      </div>
      <div class="mb-4 text-center">
        <%= f.text_field :user_name %>
      </div>
      <div class="text-center">
        <%= f.label :height, "身長" %>&emsp;
      </div>
      <div class="mb-4 text-center">
        <%= f.number_field :height %> cm
      </div>
      <div class="text-center">
        <%= f.label :sex, "性別" %>&emsp;
      </div>
      <div class="mb-4 text-center">
        <%= f.radio_button :sex, '男性' %>
        <!--f.radio_button(メソッド名, value値, オプション={})-->
        <span><%= f.label :sex, '男性', {style: "display: inline-block;"} %>&emsp;</span>
        <%= f.radio_button :sex, '女性' %>
        <span><%= f.label :sex, '女性', {style: "display: inline-block;"} %></span>
      </div>
      <div class= "text-center">
        <%= f.label :email, "メールアドレス" %>&emsp;
      </div>
      <div class="mb-4 text-center">
        <%= f.text_field :email %>
      </div>
      <div class="text-center">
        <%= f.submit "保存", class: "btn btn-primary"%>&emsp;
        <%= link_to "アカウント削除", users_unsubscribe_path, class: "btn btn-danger"%>
      </div>
    <% end %>
  </div>