<%= render 'public/nav' %>
<div class="container">
    <h2>プロフィール</h2>

     <%= image_tag @user.get_profile_image("200x200") %>

    <h5>ユーザー名</h5>
    <p><%= @user.user_name %></p>

    <h5>身長</h5>
    <p><%= @user.height %> cm</p>


    <h5>性別</h5>
    <p><%= @user.sex %></p>

    <h5>メールアドレス</h5>
    <p><%= @user.email %></p>

    <%= link_to "プロフィール編集", edit_user_path(current_user.id) %>

</div>

